.confirm-action-dialog {
  border-radius: 8px 8px 0 0;
}

.confirm-action-dialog .card-title svg.danger {
  color: #d92d20;
}

.confirm-action-dialog .primary-button.danger {
  background: #d92d20;
}
