.confirm-action-dialog {
  border-radius: 18px 18px 0 0;
}

.confirm-action-dialog .card-title svg.danger {
  color: #d92d20;
}

.confirm-action-dialog .primary-button.danger {
  background: #d92d20;
}
