.confirm-action-modal {
  border-radius: 8px 8px 0 0;
}

.confirm-action-modal .card-title svg.danger {
  color: var(--h5-danger);
}

.confirm-action-modal .primary-button.danger {
  background: var(--h5-danger);
}
